<mat-toolbar>
  <span>AngularDogs</span>
  <span class="fill-remaining-space" color="accent"></span>
</mat-toolbar>

<div class="content-container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-add-dog></app-add-dog>
  <app-add-owner></app-add-owner>
  <!-- <app-checkbox></app-checkbox> -->
  <iframe src="https://player.vimeo.com/video/197933516" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>





<!-- add a text input that inside add a url, add a youtube component -->
