
<div class="content-container">
  <h3>Edit Dog</h3>
  <div class="form">
    <h3>Current Dog: {{ dog.name }}</h3>
    <h3>Current Dog Owner: {{ ownerName }}</h3>
    <mat-form-field>
      <input matInput [(ngModel)]="chosenDog.name" placeholder="Dog Name">
      <!-- <input matInput [(ngModel)]="dog.name" placeholder="Dog Name" value="this.dogs[params.id].name"> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="chosenDog.weight" placeholder="Dog Weight">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="chosenDog.owner" placeholder="Owner Name">
    </mat-form-field>

    <!-- <div *ngIf="dogWeight < 10" class="validation-error">{{dogName}} is underweight</div>   -->

    <button mat-button (click)="servEditDog()" [routerLink]="['']" color="primary">Submit</button>
  </div>
</div>
