<div class="content-container">
  <div class="form">
    <h3>Current Dog: {{ dogName }}</h3>
    <h3>Current Dog Owner: {{ ownerName }}</h3>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Dog Name" [(ngModel)]="dogName" name="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Dog Age" [(ngModel)]="dogWeight" name="age">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Owner Name" [(ngModel)]="ownerName" name="owner">
      </mat-form-field>
    </form>

    <!-- <input type="text" [(ngModel)]="dogName" name="name" placeholder="Dog Name" />
    <input type="text" [(ngModel)]="dogWeight" name="weight" placeholder="Dog Age" />
    <input type="text" [(ngModel)]="ownerName" name="owner" placeholder="Owner Name" /> -->
  </div>

  <img class="img-dog" src="{{ imageUrl }}" />

</div>
